node/public/HomeDot/
node/public/hzc*
node/testaudio
*.map
msc/
/ClientPython
node/uploads
.DS_Store
*.iml
.idea
target
*.log
*.part
node_modules
null*
*.log.*
tts
node/public/audio
node/audio
node/video
node/sqlbackup
node/*.flag
node/uploads_speex/
javaStart.sh
node/public/*.so
node/public/tst_micarray_sdk
nohup.out
*.wav
*.pcm
AsrTest/*.o
AsrTest/nbproject
AsrTest/main
.sass-cache
Client/mozart/nbproject
Cache/*
/node/nbproject/private/
nbproject
protobuf-java-3.0.0-beta-3
protoc-3.0.0-beta-1-win32
AsrServer
/protoc-3.0.0-beta-1-win32.zip
/Client/mozart/cloudai_mozart/
/Client/mozart/tools/host-tools/lzo-2.09/
/.idea/
/Wechat/src/main/resources/web/qnupload.json
/Wechat/src/main/resources/web/.sass-cache/
/node/public/wakeUpRecord
node/ClientSdk/
node/bower_components/
node/model_bak/
node/public/bkp/
node/public/client/
node/public/efuse-rw
node/public/jietong1/
node/public/mozart/
start.sh
